/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("icon/glyphicons-halflings-regular.eot");
  src: url("icon/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("icon/glyphicons-halflings-regular.woff2") format("woff2"), url("icon/glyphicons-halflings-regular.woff") format("woff"), url("icon/glyphicons-halflings-regular.ttf") format("truetype"), url("icon/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
