/*
Zerotheme.com | Free Html5 Responsive Templates
Author URI: https://www.zerotheme.com/
*/

@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Montserrat:300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800');
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Reset----------------------------------- */
/* ---------------------------------------------------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection{background: #A3C145 none repeat scroll 0 0;color: #fff;text-shadow:none}
::selection{background: #A3C145 none repeat scroll 0 0;color: #fff;text-shadow:none}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a{color: #A3C145;text-decoration: none;-moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
	transition-duration: 0.3s;}
a:hover {color: #A3C145;}

h1, h2 	{font-size: 25px;line-height: 25px;}
h3, h4	{font-size: 20px;line-height: 20px;}
h5, h6	{font-size: 16px;line-height: 16px;}
h1,h2,h3,h4,h5,h6{letter-spacing: 2.5px;font-weight: 500;line-height:1.1; color: #141414;}

p{margin: 10px 0;color: #777;}

input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], input[type="search"], textarea, select {height: 45px;padding-left: 20px;border: 1px solid #ddd;border-radius: 0;box-shadow: none;line-height: 22px;letter-spacing: .5px;-webkit-transition: border-color 0.5s;transition: border-color 0.5s;width: 100%;margin: 7px 0;}
input:focus, input:hover, textarea:hover, select:hover, textarea:focus, select:focus {outline: none;box-shadow: none;border-color: #777;}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.list-inline li{display: inline-block;}

/* --Line-- */
hr{ margin: 20px auto 0; padding: 0; max-width: 210px;border: 0; border-top: double 4px;text-align: center;display: block; line-height: 1px; height: auto;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;-ms-box-sizing: content-box;-o-box-sizing: content-box;box-sizing: content-box;}

hr.line01:after, 
hr.line02:after,
hr.line03:after{content: url(../images/rose.png);display: inline-block;position: relative;top: -12px;padding: 0 10px;}

hr.line01 {border-color: #111;}
hr.line01:after {color: #111;background-color: #F7F7F7;}

hr.line02 {border-color: #111;}
hr.line02:after {color: #111;background-color: #ffffff;}

hr.line03 {border-color: #fff;}
hr.line03:after {color: #fff;background-color: #303231;}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Html-Body--------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {height: 100%;width:100%; padding:0; margin:0;}
body {background: #fff;font-family: "Montserrat", Helvetica, sans-serif;font-size: 14px;font-weight: 300;letter-spacing: 0.2px;line-height: 1.7em;color: #777;}

body.index-page{}
body.sub-page{}
body.sub-page header .main-header{height: 40vh;background: url(../images/hero.jpg) center center;}
body.sub-page header .main-header .hero-lead{margin-bottom: 0}
body .wrap-body{position: relative;}


body .wrap-body #page-top{position: fixed;right: 40px;bottom: 40px;z-index: 999;}

/* ---------------------------------------------------------------------------- */
/* -----------------------------------Header----------------------------------- */
/* ---------------------------------------------------------------------------- */
header{z-index: 2;position: relative;}


header .wrap-header{}
header .main-header{position: relative;height: 100vh;width: 100%;background: url(../images/main.jpg) center center;background-size: cover;}

.main-header .bg-overlay{position: absolute;background: rgba(45, 50, 56, 0.4);width: 100%;height: 100%;top: 0;left: 0;}

.main-header .hero-content-wrapper{display: table;position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding-left: 10%;transition: opacity 1s ease 0s, transform 1s ease 0s;opacity: 1;}
.main-header .hero-content-wrapper .hero-content{display: table-cell;width: 100%;height: 100%;vertical-align: middle;}
.main-header .hero-lead{font-size: 6em;font-weight: 700;letter-spacing: 2px;color: #ececec;margin-bottom: 50px;}
.main-header .h-alt{margin-bottom: 20px;color: #A3C145;font-weight: 400;font-size: 1.3em;letter-spacing: 3px;text-transform: uppercase}
.main-header .button-skin{background: #A3C145;border:2px solid #A3C145;}
.main-header .button-skin:hover{background: transparent;color: #fff;border:2px solid #fff;}
.main-header .hero-content-wrapper.remove {-moz-transform: translateY(3rem);-webkit-transform: translateY(3rem);-ms-transform: translateY(3rem);transform: translateY(3rem);-moz-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;opacity: 0;visibility: hidden;}

.main-header .scroller {bottom: 15px;color: rgba(235, 235, 235, 0.5);display: inline-block;font-size: 40px;left: 0;margin: 0 auto;position: absolute;right: 0;text-align: center;width: 120px;}
.main-header .scroller:focus {color: inherit;text-decoration: none;}
.main-header .scroller:hover {color: #ebebeb;}
.main-header .scroller:hover .scroller-text {opacity: 1;transform: translateY(-10px);}
.main-header .scroller:hover .scroller-button {border: 2px solid #ebebeb;}
.main-header .scroller .scroller-text {display: block;font-size: 10px;letter-spacing: 2.5px;text-transform: uppercase;color: #ececec;-webkit-transform: translateY(5px);-ms-transform: translateY(5px);transform: translateY(5px);opacity: 0;-webkit-transition: all 0.3s;transition: all 0.3s;}
.main-header .scroller .scroller-button{border: 2px solid rgba(235, 235, 235, 0.5);display: inline-block;padding: 8px 3px 5px;border-radius: 20px;font-size: 0.8em;}


@media (max-width: 992px) {
  .main-header .hero-lead{font-size: 4.7em;}
.main-header .h-alt{font-size: 1em;}
}
@media (max-width: 767px) {
	header .main-header{height: 70vh;}
  .main-header .hero-lead{font-size: 3em;}
}
@media (max-width: 400px) {
  .main-header .hero-lead{font-size: 2.5em;}
}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Container--------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content {margin-bottom: 0px !important; position: relative;overflow: visible;z-index: 1;background: #ffffff;box-shadow: rgba(0,0,0,0.7) 0 105px 90px -90px;}
#container .wrap-container{background: #ffffff;}

/* ---content-box--- */
.content-box {}
.content-box .wrap-box {padding:100px 10px; position: relative;}
.content-box .header {text-align: center; margin: 20px 0 90px;text-transform: uppercase;}
.content-box .header h2{font-size: 1.5em;letter-spacing: 4px;color: #111;}
.content-box .header .wrapper{padding: 5px; display: inline-block;}
.content-box .header .intro {display: block;font-weight: 300;color: #999;margin-top: 25px;letter-spacing: 2.5px;}

.content-box.box-style-1{background: #f7f7f7;}
.content-box.box-style-2{background: url(../images/bg-2.jpg) no-repeat center center;position: relative;}
.content-box.box-style-2:before{position: absolute;content: ""; height: 100%; width: 100%;top: 0;left: 0;right: 0;bottom: 0;visibility: initial;}
.content-box.box-style-3{background: url(../images/bg-3.jpg) fixed no-repeat center center;position: relative;}
.content-box.box-style-3:before{position: absolute;content: "";background: rgba(45, 50, 56, 0.4); height: 100%; width: 100%;top: 0;left: 0;right: 0;bottom: 0;visibility: initial;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Box 1----------------------------------- */
/* ---------------------------------------------------------------------------- */
.content-box.box-1 {}
.content-box.box-1 .ft-item{padding: 0 20px 40px;}
.content-box.box-1 .ft-icon{display:inline-block;margin: 10px 0;width: 70px;height: 70px;font-size: 28px;line-height: 28px;text-align: center;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);border: 1px solid #f8f8f8;border-radius: 50%;background: #fff;}
@media only screen and (max-width: 767px) {
	.ft-image-center{max-width: 400px;margin: 30px auto;display: block;}
}
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Box 2----------------------------------- */
/* ---------------------------------------------------------------------------- */
.content-box.box-2 .wrap-box{padding: 120px 10px}
.content-box.box-2 blockquote {position: relative;padding: 20px 100px 0;text-align: center;font-size: 35px; border:none;line-height: 1.2;color: #fff;}
.content-box.box-2 blockquote:before, .content-box.box-2 blockquote:after {position: absolute;width: 50px;height: 50px;font-size: 110px;line-height: 1; }
.content-box.box-2 blockquote:before {top: 0;left: 0;content: "\201C"; }
.content-box.box-2 blockquote:after {top: 0;right: 0;content: "\201D"; }
@media only screen and (max-width: 1100px) {
	.content-box.box-2 blockquote {font-size: 22px; } 
}
@media only screen and (max-width: 960px) {
	.content-box.box-2 blockquote {padding: 30px 40px;font-size: 22px; }
	.content-box.box-2 blockquote:before, .content-box.box-2 blockquote:after {width: 25px;height: 25px;font-size: 47px; } 
}
@media only screen and (max-width: 690px) {
	.content-box.box-2 blockquote {padding: 10px 20px;font-size: 20px; }
	.content-box.box-2  blockquote:before, .content-box.box-2 blockquote:after {font-size: 19px; } 
}
.content-box.box-2 p{color: #fff;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Box 3----------------------------------- */
/* ---------------------------------------------------------------------------- */
.content-box.box-3 {}
.product{background: #fff;transition: .3s;overflow: hidden;margin: 0 auto 30px;max-width: 400px}	
.product:hover{box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);transform: translateY(-5px);}
.product h2.product-title{font-size: 16px;letter-spacing: -.3px;float: left;margin: 0 0 15px 25px;width: auto;text-transform: uppercase;max-width: calc(100% - 150px);overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.product h2.product-title a{color: #141414;}
.product h2.product-title a:hover{color: #A3C145;}	
.product .categories {max-width: calc(100% - 125px);overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;margin: 0 6px 0 25px;display: block;font-size: 13px;text-transform: capitalize;}
.product .product-rating{float: right;font-size: 15px;margin-right: 25px;color: #A3C145;letter-spacing: -1px;line-height: 1;}
.product .price {display: block;font-weight: 800;font-size: 16px;float: right;color: #141414;margin-right: 25px;}
.product-content{padding: 20px 0 30px;}

@media (max-width: 1200px) {
	.product h2.product-title,
	.product .categories{margin-left: 30px;}
	.product .product-rating,
	.product .price{margin-right: 30px;}
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Box 4----------------------------------- */
/* ---------------------------------------------------------------------------- */
.content-box.box-4 .wrap-box{padding: 100px 0 0;}
.content-box.box-4 .button-skin {background: #fff;color: #111;border:2px solid #fff;}
.content-box.box-4 .button-skin:hover{background: transparent;color: #fff;border:2px solid #fff;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Box 5----------------------------------- */
/* ---------------------------------------------------------------------------- */
.content-box.box-5 .box-entry {color: #4d4d4d; margin: 0 auto 30px;background: #fff;transition: all 300ms ease 0s;border: 1px solid #eee;max-width: 400px;}
.content-box.box-5 .box-entry .box-entry-inner{position: relative;z-index: 1;}
.content-box.box-5 .box-entry img{border: none; width: 100%;}
.content-box.box-5 .box-entry .entry-details{}
.content-box.box-5 .box-entry .entry-des {padding: 20px 40px;}
.content-box.box-5 .box-entry .entry-des h3{margin-bottom: 20px;font-size: 1.5em;font-weight: 500;}
.content-box.box-5 .box-entry .entry-des h3 a{color: #141414;}
.content-box.box-5 .box-entry .entry-des span a{margin: 10px 0; display:block;color: #aaa;font-size: 1em;}
.content-box.box-5 .pro-price-content{display: inline-block;font-size: 24px;font-weight: 500;margin-bottom: 0;margin-top: 7px;}
.content-box.box-5 .box-entry:hover{box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.15);margin-top: -5px;}

.content-box.box-5 .button-skin {margin: 30px 0 10px;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Box 6----------------------------------- */
/* ---------------------------------------------------------------------------- */
.content-box.box-6{}
.content-box.box-6 .clients-logo{text-align: center;}
.content-box.box-6 .clients-logo img{max-width: 140px;}
.content-box.box-6 .header h2{color: #fff;}


.content-box.box-7 {text-align: center;}
.content-box.box-7 .wrap-box{padding: 50px 10px 20px;}
.content-box.box-7 h3{}
.content-box.box-7 p{font-size: 15px;}
.content-box.box-7 i.fa{font-size: 24px; height: 65px; width: 65px; background: #A3C145; color: #fff;border-radius: 50%;margin: 0 20px 30px 0;padding-top: 20px;float:right;}
@media  (max-width: 767px){
	.content-box.box-7 i.fa{float: none; margin: 20px 0 10px 0;}
}

/* ---Article--- */
article.single-post .wrap-post, .comments-are {padding:30px 20px;margin-top: 30px;}
article{ border-bottom: 1px solid #ddd; margin: 30px 0 40px;padding-bottom: 30px}
article:last-child{border-bottom: none;}
article:after, article:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

article .post-thumbnail-wrap {text-align: center;width: 100%;margin-bottom: 20px;}
article .post-thumbnail-wrap img {width: 100%;}
article h2.entry-title{font-size: 2em;font-weight: 400;}
article h2.entry-title a{color: #141414;}
article h2.entry-title a:hover{color: #555}

article .entry-header{margin-bottom: 30px;}
article.single-post .entry-header{text-align: center}
article.single-post .entry-header h1.entry-title{font-size: 2.5em;font-weight: 400;}

article .entry-header .entry-meta{margin: 10px 0 20px;}
article .entry-header .entry-meta a{color: #777;margin: 5px;display:inline-block}
article .entry-header .entry-meta a:hover{color: #A3C145;}
article .entry-header .entry-meta i{margin: 3px 5px;}

article .entry-content{}
article.single-post .entry-content{ padding: 30px 120px;}
@media  (max-width: 540px){
	article.single-post .entry-content{ padding: 30px;}
}
article .entry-content p{color: #686868;}
article .entry-content blockquote {border-left: 3px solid #1c7791;margin: 0 50px;font-style: italic;color: #666;padding-left: 20px;}
article .entry-content ol {display: block;margin: 10px 50px;list-style-type: circle;}

.comments-are textarea {height:170px;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Footer---------------------------------- */
/* ---------------------------------------------------------------------------- */
footer#page-footer{background: #12191B;top: auto;bottom: 0;left: 0;width: 100%;display:block;}
footer a{color:#999;font-weight: bold;text-shadow: none;}
footer a:hover{color:#fff;}
.widget-title{font-weight: bold;text-transform: uppercase;line-height: 1.38;margin-bottom: 20px;font-size: 14px;color: #eee;}
footer .wrap-footer{padding: 60px 0;}
footer .wrap-footer ul li {margin-bottom: 5px;padding: 10px 0 15px;}
footer .logo img{max-width: 170px;margin-top: 30px;}


footer .col-footer-2{}
footer .col-footer-2 ul {padding: 0;}
footer .col-footer-2 ul li {list-style: none;margin-bottom: 5px; border-bottom: 1px solid #444;padding-bottom: 10px;}
footer .col-footer-2 ul li:last-child{border-bottom: none;}
footer .col-footer-2 ul li a{color: #999;font-size: 12px;}
footer .col-footer-2 ul li a:hover{color: #eee;}

footer .col-footer-3 a{color: #999; background: #202020; padding: 5px 10px;line-height: 2.4;font-size: 13px;text-transform: capitalize;margin-right: 1px;}
footer .col-footer-3 a:hover{color: #fff;background: #000;}

footer .col-footer-4 img{margin-bottom: 20px;}

footer .bottom-footer{color: #92907C;text-align: center;padding: 40px 0;border-top: 1px solid #777;}
footer .bottom-footer ul li {margin-bottom: 5px;border-bottom: 1px solid #555;padding: 10px 0 15px;}
footer i.fa{font-size: 22px;margin-right: 8px;}
footer .bottom-social{margin-bottom: 20px;}
footer .bottom-social i.fa{font-size: 24px;margin-right: 12px;}

.copyright{}

@media all and (max-width: 767px){
	footer#page-footer{position: relative;}
	footer .col-footer-1,
	footer .col-footer-2,
	footer .col-footer-3,
	footer .col-footer-4 {margin-bottom: 40px;}
}


/* ---------------------------------------------------------------------------- */
/* --------------------------------Contact-Area-------------------------------- */
/* ---------------------------------------------------------------------------- */
#contact-area{padding-top: 40px;}
#contact-area h1{font-size: 2.5em;margin-bottom: 30px; color: #141414;text-align: center}
#contact-area textarea {height:120px;}

.contact-main_wrapper{padding: 60px 0;}
.contact-main_wrapper h3{margin-top: 30px;font-size: 2.4em;margin-bottom: 20px}
.contact-main_wrapper p{font-size: 1.2em}
.contact-main_wrapper .button-skin{font-size: 1em}
.contact-main_wrapper .success {background: #D8FFC0;padding: 5px 10px 5px 10px;margin: 0px 0px 5px 0px;border: none;font-weight: bold;color: #2E6800;border-left: 3px solid #2E6800;}

.contact-map_wrapper {position: relative;}
.contact-map_wrapper .contact-info-wrapper {background: #fff;left: 0;margin: 0 auto;padding: 70px 110px 40px;position: absolute;right: 0;top: 80px;transition: opacity 0.5s ease 0s, visibility 0.6s ease 0s, margin-top 0.5s ease 0s;}
.contact-map_wrapper .contact-info-wrapper address .address-group {margin-bottom: 40px;}
.contact-map_wrapper .contact-info-wrapper address .address-group span {display: block;margin-bottom: 10px;margin-top: 0;color: #333;}
.contact-map_wrapper .contact-info-wrapper address .address-group a, 
.contact-map_wrapper .contact-info-wrapper address .address-group p {color: #777;display: block;font-weight: 300;margin-bottom: 3px;}
.contact-map_wrapper .contact-info-wrapper address .show-map-link a {display: block;color: #141414;}
.contact-map_wrapper .contact-info-wrapper address .show-map-link a:hover, 
.contact-map_wrapper .contact-info-wrapper address .show-map-link a:focus{text-decoration: none;color: #777;}
.contact-map_wrapper .contact-info-wrapper address .show-map-link i{display:inline-block;padding-right:15px;font-size: 1.6em;}

.contact-map_wrapper .map-open {margin-top: 30px;opacity: 0;visibility: hidden;}
.contact-map_wrapper .show-info-link {height: 50px;left: 0;margin: 0 auto;opacity: 0;position: absolute;right: 0;text-align: center;top: -20px;transition: opacity 0.5s ease 0s, visibility 0.6s ease 0s, top 0.5s ease 0s;visibility: hidden;width: 200px;}
.contact-map_wrapper .show-info-link a {background: #fff;color: #111;display: block;height: 100%;padding-top: 8px;width: 100%;}
.contact-map_wrapper .show-info-link a:hover {background: #F7F7F7;}
.contact-map_wrapper .show-info-link a i {display: inline-block;padding-right: 15px;font-size: 1.6em;}
.contact-map_wrapper .info-open {opacity: 1;top: 0;visibility: visible;}
.contact-map_wrapper form .alert {margin-top: 30px;}

/* ---------------------------------------------------------------------------- */
/* -----------------------------------Button----------------------------------- */
/* ---------------------------------------------------------------------------- */
.button{
	cursor: pointer;
	font-size: 0.8em;
	border:1px solid #ffffff; 
	display: inline-block;
	text-decoration: none;
	margin: 10px 0 5px;
	color: #fff;
	padding: 10px 15px;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	text-shadow: none;
	text-align: center;
}
.button:hover{text-decoration: none; background: #303030;}

.button-skin {background: #111;color: #fff;padding: 5px 30px;border:2px solid #111;letter-spacing: 2.5px;text-transform: uppercase;font-weight: 300;}
.button-skin:hover{background: transparent;color: #111;border:2px solid #111;}
.button-toTop{font-size: 1.7em;height: 42px;width: 42px;padding: 7px 0 0;border: 2px solid #A3C145;margin: 0;color: #A3C145;}
.button-toTop:hover{background: #A3C145;color: #fff;}


/* ---------------------------------------------------------------------------- */
/* ------------------------------Portfolio Box--------------------------------- */
/* ---------------------------------------------------------------------------- */	
.portfolio-box {display: block;position: relative;margin: auto;overflow: hidden;max-width: 400px}

/****** Zoom Effect ******/
.portfolio-box.zoom-effect .portfolio-box-caption{background: rgba(45, 50, 56,0.2);}
.portfolio-box.zoom-effect img{-webkit-transition: 0.5s ease;transition: 0.5s ease;}
.portfolio-box:hover.zoom-effect img{-webkit-transform:scale(1.1); /* Safari and Chrome */-moz-transform:scale(1.1); /* Firefox */-ms-transform:scale(1.1); /* IE 9 */-o-transform:scale(1.1); /* Opera */transform:scale(1.1);}


.portfolio-box .portfolio-box-caption {display: block;position: absolute;bottom: 0;width: 100%;height: 100%;text-align: center;color: #fff;-webkit-transition: all .35s;-moz-transition: all .35s;transition: all .35s;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {position: absolute;top: 50%;width: 100%;text-align: center;transform: translateY(-50%);}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-button,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {padding: 0 15px;text-transform: uppercase;font-weight: 600;letter-spacing: 2px;text-shadow: 2px 2px #111;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {font-size: 0.85em;color: #A3C145;margin-bottom: 10px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {font-size: 1.5em;margin-bottom: 3px;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-button{transition: all 1s ease;opacity: 0; height: 0;overflow: hidden;}

.portfolio-box:hover .portfolio-box-caption {opacity: 1;background: rgba(0, 0, 0, .6);}
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-button{opacity: 1;height: auto;}
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-name{display: none;}

@media(min-width:768px) {
    
}
@media only screen and (min-width: 450px) and (max-width: 767px){
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 1.2em;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 2em;
    }
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Crumbs---------------------------------- */
/* ---------------------------------------------------------------------------- */
.crumbs {border-bottom: 1px solid #ddd;padding:70px 0 20px 30px;margin-bottom: 40px;}
.crumbs ul {list-style: none;display: inline-table;}
.crumbs ul li {display: inline;}
.crumbs ul li a {display: block;float: left;background: #A3C145;text-align: center;padding: 7px 30px 8px 40px;position: relative;margin: 0 20px 0 0; font-size: 16px;text-decoration: none;color: #fff;}
.crumbs ul li a:after {content: "";  border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid #A3C145;position: absolute; right: -20px; top: 0;z-index: 1;-webkit-transition: border 0.3s, -webkit-transform 0.3s;-moz-transition: border 0.3s, -moz-transform 0.3s;-o-transition: border 0.3s, -o-transform 0.3s;transition: border 0.3s, transform 0.3s;}
.crumbs ul li a:before {content: "";  border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid #fff;position: absolute; left: 0; top: 0;}
.crumbs ul li:first-child a {border-top-left-radius: 6px; border-bottom-left-radius: 6px;}
.crumbs ul li:first-child a:before {display: none; }
.crumbs ul li:last-child a {padding-right: 40px;padding-left: 50px;border-top-right-radius: 6px; border-bottom-right-radius: 6px;}
.crumbs ul li:last-child a:after {display: none; }		
.crumbs ul li a:hover {background: #222;color: #fff;}
.crumbs ul li a:hover:after {border-left-color: #222;}
.crumbs ul li a:hover:after {border-left-color: #222;}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Carousel---------------------------------- */
/* ---------------------------------------------------------------------------- */
.owl-carousel{}
.owl-controls .owl-buttons {text-align: center;margin-top: 20px; }
.owl-carousel:hover .owl-buttons div {}
.owl-controls .owl-buttons .owl-prev,
.owl-controls .owl-buttons .owl-next {display: inline-block;margin: 10px 5px;color: #111;border: 2px solid #111;height: 35px;width: 35px;padding-top: 3px;-ms-transition: 0.3s;-o-transition: 0.3s;-moz-transition: 0.3s;transition-duration: 0.3s;}
.owl-carousel .owl-buttons i.fa {font-size: 1.8em;line-height: 1}
.owl-controls .owl-buttons .owl-prev:hover,
.owl-controls .owl-buttons .owl-next:hover {color: #fff;background: #A3C145;border-color: #A3C145}


